.container{
    background-color: white;
    font-family: "Amazon Ember", Arial, sans-serif;
    margin-top: 0;
}

 .allBoxes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 10vw;
    margin-right: 10vw;

}

.h1{
    text-align: left;
    margin-left: 10vw;
    margin-top: 5px;

}
.grid{
    text-align: left;
    padding: 25px;
    margin: 10px;
    display:inline-flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 20px;
    padding: 10px 20px;
    background-color: transparent;
    cursor: pointer;


}

.grid b{
    font-size: larger;
    margin-bottom: 10px;
}

.allBoxes img{
    height: 60px;
    width: 60px;
}


